{
  "openapi": "3.0.0",
  "info": {
    "title": "Telegram Bot API",
    "description": "Auto-generated OpenAPI schema",
    "version": "7.2.0"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}",
      "variables": {
        "token": {
          "default": "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11",
          "description": "Each bot is given a unique authentication token when it is created."
        }
      }
    }
  ],
  "paths": {
    "/getUpdates": {
      "post": {
        "description": "Use this method to receive incoming updates using long polling ([wiki](https://en.wikipedia.org/wiki/Push_technology#Long_polling)). Returns an Array of [Update](https://core.telegram.org/bots/api/#update) objects.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getupdates"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "description": "Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will be forgotten.",
                    "type": "integer"
                  },
                  "limit": {
                    "description": "Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.",
                    "default": 100,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "timeout": {
                    "description": "Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.",
                    "default": 0,
                    "type": "integer"
                  },
                  "allowed_updates": {
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify `[\"message\", \"edited_channel_post\", \"callback_query\"]` to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all update types except *chat\\_member*, *message\\_reaction*, and *message\\_reaction\\_count* (default). If not specified, the previous setting will be used.  \n\nPlease note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "description": "Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will be forgotten.",
                    "type": "integer"
                  },
                  "limit": {
                    "description": "Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.",
                    "default": 100,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "timeout": {
                    "description": "Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.",
                    "default": 0,
                    "type": "integer"
                  },
                  "allowed_updates": {
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify `[\"message\", \"edited_channel_post\", \"callback_query\"]` to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all update types except *chat\\_member*, *message\\_reaction*, and *message\\_reaction\\_count* (default). If not specified, the previous setting will be used.  \n\nPlease note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "description": "Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will be forgotten.",
                    "type": "integer"
                  },
                  "limit": {
                    "description": "Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.",
                    "default": 100,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "timeout": {
                    "description": "Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.",
                    "default": 0,
                    "type": "integer"
                  },
                  "allowed_updates": {
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify `[\"message\", \"edited_channel_post\", \"callback_query\"]` to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all update types except *chat\\_member*, *message\\_reaction*, and *message\\_reaction\\_count* (default). If not specified, the previous setting will be used.  \n\nPlease note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Update"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/setWebhook": {
      "post": {
        "description": "Use this method to specify a URL and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified URL, containing a JSON-serialized [Update](https://core.telegram.org/bots/api/#update). In case of an unsuccessful request, we will give up after a reasonable amount of attempts. Returns *True* on success.\n\nIf you'd like to make sure that the webhook was set by you, you can specify secret data in the parameter *secret\\_token*. If specified, the request will contain a header “X-Telegram-Bot-Api-Secret-Token” with the secret token as content.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#setwebhook"
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "description": "HTTPS URL to send updates to. Use an empty string to remove webhook integration",
                    "type": "string"
                  },
                  "certificate": {
                    "$ref": "#/components/schemas/InputFile"
                  },
                  "ip_address": {
                    "description": "The fixed IP address which will be used to send webhook requests instead of the IP address resolved through DNS",
                    "type": "string"
                  },
                  "max_connections": {
                    "description": "The maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery, 1-100. Defaults to *40*. Use lower values to limit the load on your bot's server, and higher values to increase your bot's throughput.",
                    "default": 40,
                    "type": "integer"
                  },
                  "allowed_updates": {
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify `[\"message\", \"edited_channel_post\", \"callback_query\"]` to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all update types except *chat\\_member*, *message\\_reaction*, and *message\\_reaction\\_count* (default). If not specified, the previous setting will be used.  \nPlease note that this parameter doesn't affect updates created before the call to the setWebhook, so unwanted updates may be received for a short period of time.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "drop_pending_updates": {
                    "description": "Pass *True* to drop all pending updates",
                    "type": "boolean"
                  },
                  "secret_token": {
                    "description": "A secret token to be sent in a header “X-Telegram-Bot-Api-Secret-Token” in every webhook request, 1-256 characters. Only characters `A-Z`, `a-z`, `0-9`, `_` and `-` are allowed. The header is useful to ensure that the request comes from a webhook set by you.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/deleteWebhook": {
      "post": {
        "description": "Use this method to remove webhook integration if you decide to switch back to [getUpdates](https://core.telegram.org/bots/api/#getupdates). Returns *True* on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#deletewebhook"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "description": "Pass *True* to drop all pending updates",
                    "type": "boolean"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "description": "Pass *True* to drop all pending updates",
                    "type": "boolean"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "description": "Pass *True* to drop all pending updates",
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/getWebhookInfo": {
      "post": {
        "description": "Use this method to get current webhook status. Requires no parameters. On success, returns a [WebhookInfo](https://core.telegram.org/bots/api/#webhookinfo) object. If the bot is using [getUpdates](https://core.telegram.org/bots/api/#getupdates), will return an object with the *url* field empty.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getwebhookinfo"
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/WebhookInfo"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/getMe": {
      "post": {
        "description": "A simple method for testing your bot's authentication token. Requires no parameters. Returns basic information about the bot in form of a [User](https://core.telegram.org/bots/api/#user) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getme"
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/logOut": {
      "post": {
        "description": "Use this method to log out from the cloud Bot API server before launching the bot locally. You **must** log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns *True* on success. Requires no parameters.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#logout"
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/close": {
      "post": {
        "description": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns *True* on success. Requires no parameters.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#close"
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "description": "Use this method to send text messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendmessage"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "text": {
                    "description": "Text of the message to be sent, 1-4096 characters after entities parsing",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "entities": {
                    "description": "A JSON-serialized list of special entities that appear in message text, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "link_preview_options": {
                    "$ref": "#/components/schemas/LinkPreviewOptions"
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user. Not supported for messages sent on behalf of a business account.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "text"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "text": {
                    "description": "Text of the message to be sent, 1-4096 characters after entities parsing",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "entities": {
                    "description": "A JSON-serialized list of special entities that appear in message text, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "link_preview_options": {
                    "$ref": "#/components/schemas/LinkPreviewOptions"
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user. Not supported for messages sent on behalf of a business account.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "text"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "text": {
                    "description": "Text of the message to be sent, 1-4096 characters after entities parsing",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "entities": {
                    "description": "A JSON-serialized list of special entities that appear in message text, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "link_preview_options": {
                    "$ref": "#/components/schemas/LinkPreviewOptions"
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user. Not supported for messages sent on behalf of a business account.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "text"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/forwardMessage": {
      "post": {
        "description": "Use this method to forward messages of any kind. Service messages and messages with protected content can't be forwarded. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#forwardmessage"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the forwarded message from forwarding and saving",
                    "type": "boolean"
                  },
                  "message_id": {
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "type": "integer"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the forwarded message from forwarding and saving",
                    "type": "boolean"
                  },
                  "message_id": {
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "type": "integer"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the forwarded message from forwarding and saving",
                    "type": "boolean"
                  },
                  "message_id": {
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "type": "integer"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/forwardMessages": {
      "post": {
        "description": "Use this method to forward multiple messages of any kind. If some of the specified messages can't be found or forwarded, they are skipped. Service messages and messages with protected content can't be forwarded. Album grouping is kept for forwarded messages. On success, an array of [MessageId](https://core.telegram.org/bots/api/#messageid) of the sent messages is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#forwardmessages"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_ids": {
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to forward. The identifiers must be specified in a strictly increasing order.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the forwarded messages from forwarding and saving",
                    "type": "boolean"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_ids": {
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to forward. The identifiers must be specified in a strictly increasing order.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the forwarded messages from forwarding and saving",
                    "type": "boolean"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_ids": {
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to forward. The identifiers must be specified in a strictly increasing order.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the forwarded messages from forwarding and saving",
                    "type": "boolean"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageId"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/copyMessage": {
      "post": {
        "description": "Use this method to copy messages of any kind. Service messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz [poll](https://core.telegram.org/bots/api/#poll) can be copied only if the value of the field *correct\\_option\\_id* is known to the bot. The method is analogous to the method [forwardMessage](https://core.telegram.org/bots/api/#forwardmessage), but the copied message doesn't have a link to the original message. Returns the [MessageId](https://core.telegram.org/bots/api/#messageid) of the sent message on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#copymessage"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "type": "integer"
                  },
                  "caption": {
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the new caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove reply keyboard or to force a reply from the user.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "type": "integer"
                  },
                  "caption": {
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the new caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove reply keyboard or to force a reply from the user.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_id": {
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "type": "integer"
                  },
                  "caption": {
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the new caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove reply keyboard or to force a reply from the user.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/MessageId"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/copyMessages": {
      "post": {
        "description": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz [poll](https://core.telegram.org/bots/api/#poll) can be copied only if the value of the field *correct\\_option\\_id* is known to the bot. The method is analogous to the method [forwardMessages](https://core.telegram.org/bots/api/#forwardmessages), but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an array of [MessageId](https://core.telegram.org/bots/api/#messageid) of the sent messages is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#copymessages"
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_ids": {
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to copy. The identifiers must be specified in a strictly increasing order.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent messages from forwarding and saving",
                    "type": "boolean"
                  },
                  "remove_caption": {
                    "description": "Pass *True* to copy the messages without their captions",
                    "type": "boolean"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_ids": {
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to copy. The identifiers must be specified in a strictly increasing order.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent messages from forwarding and saving",
                    "type": "boolean"
                  },
                  "remove_caption": {
                    "description": "Pass *True* to copy the messages without their captions",
                    "type": "boolean"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "from_chat_id": {
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_ids": {
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to copy. The identifiers must be specified in a strictly increasing order.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "disable_notification": {
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent messages from forwarding and saving",
                    "type": "boolean"
                  },
                  "remove_caption": {
                    "description": "Pass *True* to copy the messages without their captions",
                    "type": "boolean"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageId"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sendPhoto": {
      "post": {
        "description": "Use this method to send photos. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendphoto"
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "photo": {
                    "description": "Photo to send. Pass a file\\_id as String to send a photo that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a photo from the Internet, or upload a new photo using multipart/form-data. The photo must be at most 10 MB in size. The photo's width and height must not exceed 10000 in total. Width and height ratio must be at most 20. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "caption": {
                    "description": "Photo caption (may also be used when resending photos by *file\\_id*), 0-1024 characters after entities parsing",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the photo caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "has_spoiler": {
                    "description": "Pass *True* if the photo needs to be covered with a spoiler animation",
                    "type": "boolean"
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user. Not supported for messages sent on behalf of a business account.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "photo"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sendAudio": {
      "post": {
        "description": "Use this method to send audio files, if you want Telegram clients to display them in the music player. Your audio must be in the .MP3 or .M4A format. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send audio files of up to 50 MB in size, this limit may be changed in the future.\n\nFor sending voice messages, use the [sendVoice](https://core.telegram.org/bots/api/#sendvoice) method instead.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendaudio"
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "audio": {
                    "description": "Audio file to send. Pass a file\\_id as String to send an audio file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get an audio file from the Internet, or upload a new one using multipart/form-data. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "caption": {
                    "description": "Audio caption, 0-1024 characters after entities parsing",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the audio caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "duration": {
                    "description": "Duration of the audio in seconds",
                    "type": "integer"
                  },
                  "performer": {
                    "description": "Performer",
                    "type": "string"
                  },
                  "title": {
                    "description": "Track name",
                    "type": "string"
                  },
                  "thumbnail": {
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://\\<file\\_attach\\_name\\>” if the thumbnail was uploaded using multipart/form-data under \\<file\\_attach\\_name\\>. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user. Not supported for messages sent on behalf of a business account.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "audio"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sendDocument": {
      "post": {
        "description": "Use this method to send general files. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#senddocument"
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "document": {
                    "description": "File to send. Pass a file\\_id as String to send a file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a file from the Internet, or upload a new one using multipart/form-data. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "thumbnail": {
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://\\<file\\_attach\\_name\\>” if the thumbnail was uploaded using multipart/form-data under \\<file\\_attach\\_name\\>. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "caption": {
                    "description": "Document caption (may also be used when resending documents by *file\\_id*), 0-1024 characters after entities parsing",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the document caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of *parse\\_mode*",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    }
                  },
                  "disable_content_type_detection": {
                    "description": "Disables automatic server-side content type detection for files uploaded using multipart/form-data",
                    "type": "boolean"
                  },
                  "disable_notification": {
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.",
                    "type": "boolean"
                  },
                  "protect_content": {
                    "description": "Protects the contents of the sent message from forwarding and saving",
                    "type": "boolean"
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters"
                  },
                  "reply_markup": {
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user. Not supported for messages sent on behalf of a business account.",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ]
                  }
                },
                "required": [
                  "chat_id",
                  "document"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "default": true,
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "ok",
                    "result"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sendVideo": {
      "post": {
        "description": "Use this method to send video files, Telegram clients support MPEG4 videos (other formats may be sent as [Document](https://core.telegram.org/bots/api/#document)). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendvideo"
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent",
                    "type": "string"
                  },
                  "chat_id": {
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message_thread_id": {
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only",
                    "type": "integer"
                  },
                  "video": {
                    "description": "Video to send. Pass a file\\_id as String to send a video that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a video from the Internet, or upload a new video using multipart/form-data. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "duration": {
                    "description": "Duration of sent video in seconds",
                    "type": "integer"
                  },
                  "width": {
                    "description": "Video width",
                    "type": "integer"
                  },
                  "height": {
                    "description": "Video height",
                    "type": "integer"
                  },
                  "thumbnail": {
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://\\<file\\_attach\\_name\\>” if the thumbnail was uploaded using multipart/form-data under \\<file\\_attach\\_name\\>. [More information on Sending Files »](https://core.telegram.org/bots/api/#sending-files)",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "caption": {
                    "description": "Video caption (may also be used when resending videos by *file\\_id*), 0-1024 characters after entities parsing",
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024
                  },
                  "parse_mode": {
                    "description": "Mode for parsing entities in the video caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.",
                    "type": "string"
                  },
                  "caption_entities": {
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of *parse\\_mode*",
[...]
